<%= simple_form_for(@patient) do |f| %>

    <div class = "patterns">
      <div class="field">
        <%= f.check_box :abnormal, :value => 1 %>
        <%= label_tag(:abnormal, "Abnormal (Y/N)") %>
      </div>
    </div>
    <div class = "patterns">
      <div class="field">
        <%= f.check_box :fibrosis, :value => 1 %>
        <%= label_tag(:age_adult, "Fibrosis present (Y/N)") %>
      </div>
    </div>
    <div class = "patterns">
      <div class="field name">
        <b>Traction bronchiectasis</b>
      </div>
      <div class="field">
        <%= f.radio_button :tbx, :value => "1" %>
        <%= label_tag(:tbx, "Mild") %>
        <%= f.radio_button :tbx, :value => "2" %>
        <%= label_tag(:tbx, "Moderate") %>
        <%= f.radio_button :tbx, :value => "3" %>
        <%= label_tag(:tbx, "Severe") %>
      </div>
    </div>
    <div class = "patterns">
      <div class="field name">
        <b>Honeycombing</b>
      </div>
      <div class="field">
        <%= f.radio_button :hcying, :value => 1 %>
        <%= label_tag(:hcying, "<25%") %>
        <%= f.radio_button :hcying, :value => 2 %>
        <%= label_tag(:hcying, "25%-50%") %>
        <%= f.radio_button :hcying, :value => 3 %>
        <%= label_tag(:hcying, "50%-75%") %>
        <%= f.radio_button :hcying, :value => 4 %>
        <%= label_tag(:hcying, ">75%") %>
      </div>
    </div>
    <div class = "patterns">
      <div class="field name">
        <b>Ground-glass opacification</b>
      </div>
      <div class="field">
        <%= f.radio_button :gg, :value => 1 %>
        <%= label_tag(:gg, "<25%") %>
        <%= f.radio_button :gg, :value => 2 %>
        <%= label_tag(:gg, "25%-50%") %>
        <%= f.radio_button :gg, :value => 3 %>
        <%= label_tag(:gg, "50%-75%") %>
        <%= f.radio_button :gg, :value => 4 %>
        <%= label_tag(:gg, ">75%") %>
      </div>
    </div>
    <div class = "patterns">
      <div class="field name">
        <b>Reticulation</b>
      </div>
      <div class="field">
        <%= f.radio_button :ret, :value => 1 %>
        <%= label_tag(:ret, "<25%") %>
        <%= f.radio_button :ret, :value => 2 %>
        <%= label_tag(:ret, "25%-50%") %>
        <%= f.radio_button :ret, :value => 3 %>
        <%= label_tag(:ret, "50%-75%") %>
        <%= f.radio_button :ret, :value => 4 %>
        <%= label_tag(:ret, ">75%") %>
      </div>
    </div>
    <div class = "patterns">
      <div class="field name">
        <b>Emphysema</b>
      </div>
      <div class="field">
        <%= f.radio_button :emph, :value => 1 %>
        <%= label_tag(:emph, "<25%") %>
        <%= f.radio_button :emph, :value => 2 %>
        <%= label_tag(:emph, "25%-50%") %>
        <%= f.radio_button :emph, :value => 3 %>
        <%= label_tag(:emph, "50%-75%") %>
        <%= f.radio_button :emph, :value => 4 %>
        <%= label_tag(:emph, ">75%") %>
      </div>
    </div>

    <%= f.hidden_field :user_id, :value => current_user.id %>
    <%= f.hidden_field :case_number, :value => @case_number %>

    <div class="actions">
      <%= f.submit "Submit", class: "btn btn-primary" %>
    </div>
<% end %>