<p id="notice"><%= notice %></p>

<h1>Listing Patients</h1>

<table>
  <thead>
    <tr>
      <th>Case</th>
      <th>Abnormal</th>
      <th>Fibrosis</th>
      <th>Tbx</th>
      <th>Hcying</th>
      <th>Gg</th>
      <th>Ret</th>
      <th>Emph</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @patients.each do |patient| %>
      <tr>
        <td><%= patient.case_number %></td>
        <td><%= patient.abnormal %></td>
        <td><%= patient.abnormal %></td>
        <td><%= patient.fibrosis %></td>
        <td><%= patient.tbx %></td>
        <td><%= patient.hcying %></td>
        <td><%= patient.gg %></td>
        <td><%= patient.ret %></td>
        <td><%= patient.emph %></td>
        <td><%= patient.user.email %></td>
        <td><%= link_to 'Show', patient %></td>
        <td><%= link_to 'Edit', edit_patient_path(patient) %></td>
        <td><%= link_to 'Destroy', patient, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Patient', new_patient_path %>
