<h2>Case number <%= @case_number %></h2>

<div class = "row">
    <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
        <div class="Warning">[Remember, if you select nothing, it means you are saying that abnormality is not present]</div>
    </div>
</div>

<div class="col-md-5 col-sm-5 col-xs-12">

    <div class = "ImageHolder">
        <%= image_tag "#{@case_number}.jpg"%>
            <% unless @previous.blank? %>
                  <%= @previous.abnormal %>
                  <%= @previous.fibrosis %>
                  <%= @previous.tbx %>
                  <%= @previous.hcying %>
                  <%= @previous.gg %>
                  <%= @previous.ret %>
                  <%= @previous.emph %>
                </div>
            <% end %>
</div>
</div>
<div class="col-md-7 col-sm-7 col-xs-12">

   <div class = "FormHolder">
    <%= render 'form' %>
   </div>

</div>
